@import "./defaults.css";

.contextSearch + span::after {
    content: attr(data-after);
    position: absolute;
    right: -43%;
    top: 25%;
    font: var(--font-footer);
    font-size: var(--font-size-primary);
    cursor: unset !important;
    transition: all 0.5s ease-in-out;
}
.contextSearch:focus + span::after {
    content: "hit enter to search!";
    color: black;
}

.contextSearch {
    min-width: 250px;
}

#contextSearchParent {
    position: relative;
}
