@import "./defaults.css";

#diagrammLegendContainer{
    width: 550px;
    height: 90px;
    position: absolute;
    top: 100px;
    left: 10px;
}

#diagrammLegendContainer h3{
    margin: 0;
    font: var(--font-SubTitle);
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--color-primary);
}

