@import "./defaults.css";

.infoBox {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 99;
    padding: 15px 10px;
    background-color: var(--color-secondary-lowOpacity);
    border: solid 1px var(--color-secondary);
}

.errorBox {
    position: fixed;
    right: 300px;
    top: 145px;
    z-index: 99;
    padding: 10px 15px;
    background-color: var(--color-error-lowOpacity);
    border: solid 1px var(--color-error);
}
