@import "defaults.css";
 
nav {
    margin-top: 5px;
    justify-content: center;
}

.navBtn{
    /* Button */
    position: flex;
    background-color: var(--color-secondary);
    border-radius: 5px;
    border: 1px solid var(--color-secondary-highlight);
    margin: 5px 15px;
    /* Inside Auto Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s  ease-in-out;
    -moz-transition: all 0.2s  ease-in-out;
    -o-transition:  all 0.2s  ease-in-out
}

.navBtn:hover {
    box-shadow: 0px 0px 8px var(--color-disabled);
}
.navBtn a {
    text-decoration: none;
    font: var(--font-normal);
    width: fit-content;
    height: fit-content;
}

.navBtn:active{
    filter: brightness(0.8);
}

.navBtn a div {
    margin: 4px;
}
.btnName{
    font: var(--font-Artical);
    font-size: large;
    color: #000000;
}

.activeBtn {
   filter: brightness(85%);
}