.FieldContainer,
.MultiFieldOuterContainer {
    margin-top: 10px;
    display: flex;
    margin: 8px;
    justify-content: space-between;
    align-items: center;
}

.ErrorMessage {
    font: var(--font-Artical);
    margin: 2px 0px 0px 5px;
    color: var(--color-error-highlight);
}

.labelLeft {
    float: left;
    width: 10em;
    margin-right: 1em;
}

.labelRight {
    float: right;
    width: 10em;
    margin-left: 1em;
}

.multiTextInput,
.textInput {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font: var(--font-Artical);
    padding: 5px;
    cursor: pointer;
    width: 80%;
    height: 30px;
    border: none;
    outline: none !important;
}

.multiTextInput {
    margin: 1px 0px;
    width: 100%;
}
.multiTextInput:hover,
.multiTextInput:focus,
.textInput:hover,
.textInput:focus {
    border: 1px solid var(--color-secondary);
    box-shadow: 0px 0px 10px var(--color-secondary-highlight);
}

.MultiFieldLabel {
    align-self: flex-start;
    font: var(--font-Artical);
    color: var(--color-tertiary);
}

.MultiFieldInnerContainer {
    display: flex;
    width: 84%;
}

.inputFieldContainer {
    display: flex;
    justify-content: space-between;
}

.FieldList {
    height: max-content;
    width: 150%;
}
