.channelNameBuilder-Container {
    padding: 10px;
    display: grid;
    min-height: 1000px;
    grid-template-columns: 0.5fr 1.1fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
        "Toolbar BuildingArea BuildingArea"
        "Toolbar ChannelNameDisplay ChannelNameDisplay"
        "Toolbar . ."
        "Toolbar . ."
        "Toolbar . ."
        "Toolbar . ."
        "Toolbar . .";
}

.channelNameBuilder-Container .Toolbar {
    grid-area: Toolbar;
    padding: 5px;
}

.InnerToolbarContainer {
    margin-top: "5px";
    background-color: var(--color-primary);
    padding: 0.375rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

.ToolbarHeader {
    margin: 0px;
    margin-left: "5px";
    color: var(--color-secondary);
    font: var(--font-Subtitle);
    font-weight: bold;
    font-size: 1.5em;
}

.channelNameBuilder-Container .Toolbar .navBtn {
    margin: 0px !important;
    margin-top: 5px !important;
}

.channelNameBuilder-Container .ChannelNameDisplay {
    grid-area: ChannelNameDisplay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.channelNameBuilder-Container .ChannelNameDisplay .ChannelNameOutput {
    padding: 25px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    font: var(--font-Title);
    font-size: 2.5em;
    color: var(--color-secondary-highlight);
    cursor: pointer;
}

.channelNameBuilder-Container .ChannelNameDisplay .copieMessage {
    color: var(--color-tertiary);
    font: var(--font-Artical);
    margin-top: 10px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

.channelNameBuilder-Container .ChannelNameDisplay .copied {
    color: var(--color-correct) !important;
}

.channelNameBuilder-Container .ChannelNameDisplay .error {
    color: var(--color-error) !important;
}

.channelNameBuilder-Container .BuildingArea {
    grid-area: BuildingArea;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channelNameBuilder-Container .BuildingArea .searchContainer {
    background-color: var(--color-primary) !important;
}

.channelNameBuilder-Container .BuildingArea h2 {
    font: var(--font-Title);
    color: var(--color-secondary-highlight);
}
