.Descriptionbuilder-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.colLeft {
    width: 55%;
    min-width: 450px;
    padding: 5px;
    padding-left: 15px;
}

.colRight {
    width: 45%;
    padding: 15px;
}
