@import "../../../CSS/defaults.css";

.Descriptionbuilder-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.Descriptionbuilder-Container .colLeft {
    width: 55%;
    min-width: 450px;
    padding: 5px;
    padding-left: 15px;
}

.Descriptionbuilder-Container .colRight {
    width: 45%;
    padding: 15px;
}

.Descriptionbuilder-Container .inputFieldContainer {
    display: flex;
    justify-content: space-between;
}

.Descriptionbuilder-Container .MultiFieldInnerContainer input,
.Descriptionbuilder-Container input[type="text"] {
    /* padding: 15px 20px; */
    font: var(--font-Artical);
    padding: 5px;
    width: 85%;
    border: 1px solid var(--color-primary-highlight);
    outline: 0;
    transition: all 0.2s ease;
    background-color: var(--color-primary-highlight);
    color: var(--color-tertiary);
}

.Descriptionbuilder-Container .MultiFieldInnerContainer input {
    width: 100% !important;
}

.Descriptionbuilder-Container .FieldContainer {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.Descriptionbuilder-Container .MultiFieldOuterContainer {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
.Descriptionbuilder-Container .MultiFieldInnerContainer {
    display: flex;
    width: 89%;
}

.Descriptionbuilder-Container .MultiFieldInnerContainer .FieldList {
    width: 150%;
}

.Descriptionbuilder-Container .FieldContainer label {
    align-self: center;
    font: var(--font-Artical);
    color: var(--color-secondary-highlight);
}

.Descriptionbuilder-Container .MultiFieldLabel {
    align-self: flex-start;
    margin-top: 10px;
    font: var(--font-Artical);
    color: var(--color-secondary-highlight);
}

.Descriptionbuilder-Container .MultiFieldInnerContainer input:focus,
.Descriptionbuilder-Container .MultiFieldInnerContainer input:hover,
.Descriptionbuilder-Container input[type="text"]:hover,
.Descriptionbuilder-Container input[type="text"]:focus {
    border: 1px solid var(--color-secondary);
    box-shadow: 0px 0px 8px var(--color-secondary);
}

.Descriptionbuilder-Container .HeaderText {
    margin-left: 0px !important;
    color: var(--color-secondary-highlight);
    margin-left: 15px;
}

/* TESTING */

.Descriptionbuilder-Container .outerContainer {
    display: flex;
    width: 75%;
}

.Descriptionbuilder-Container .innerContainer {
    display: flex;
    align-content: center;
    width: 100%;
}

.Descriptionbuilder-Container .codeContainer {
    background-color: var(--color-primary-highlight);
    filter: brightness(1.2);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    width: 95%;
    height: 100%;
    min-height: 350px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Descriptionbuilder-Container .codeContainer:hover {
    animation: hoverBlinkEffect 0.9s linear infinite;
}

.Descriptionbuilder-Container .codeContainer pre {
    pointer-events: none;
    color: var(--color-tertiary);
}

.Descriptionbuilder-Container .colRight .outer {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.Descriptionbuilder-Container .copieMessage {
    color: var(--color-tertiary);
    font: var(--font-Artical);
    margin-top: 10px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

.Descriptionbuilder-Container .copied {
    color: var(--color-correct) !important;
}

.Descriptionbuilder-Container .navBtn {
    margin-top: 15px !important;
    margin-left: 0px !important;
}

@keyframes hoverBlinkEffect {
    0% {
        box-shadow: 0px 0px 15px var(--color-secondary);
    }
    50% {
        box-shadow: 0px 0px 5px var(--color-secondary);
    }
    100% {
        box-shadow: 0px 0px 15px var(--color-secondary);
    }
}
